*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
    text-align: center;   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

h1{
    color: aliceblue;
}